.bg-danger{
  background: linear-gradient(45deg,darkslategray,red);
}
.bg-primary{
  background: linear-gradient(45deg,darkslategray,blue);
}.bg-secondary{
  background: linear-gradient(45deg,darkslategray,orange);
}.bg-warning{
  background: linear-gradient(45deg,darkslategray,limegreen);
}
.bg-secondary{
  background: linear-gradient(45deg,darkslategray,purple);
}

.background {
  /* background-image: url("../src/img/bg2.jpeg"); */
  

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


body, html {
  height: 100%;
}